@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --deep-grey: #202225;
  --semi-deep-grey: #2f3136;
  --profile-grey: #2a2b30;
  --light-grey: #36393f;
  --primary-color: #7480ff;
  --grey-text-color: #dcddde;
  --darker-grey-text-color: #99aab5;
  --font-size: 0.95rem;
  --transition: 200ms ease-in-out;
  --green: #3ba55d;
  --notif-color: #e03f4f;
  --hover-light-grey-color: #3b3d43;
  --hover-msg: #36363d;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

#__next {
  height: 100%;
}