.user {
    grid-template-columns: 36px auto;
    column-gap: 0.75em;
}

.users::-webkit-scrollbar {
    width: 0.4rem;
    background-color: none;
}

.users::-webkit-scrollbar-thumb {
    background-color: none;
    border-radius: 0.25rem;
}

.users:hover::-webkit-scrollbar-thumb {
    background-color: rgb(17 24 39 / var(--tw-bg-opacity));
}