.container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: var(--light-grey);
    animation-name: zoom;
    animation-duration: 150ms;
    color: var(--darker-grey-text-color);
    transition: ease-in-out 50ms;

    @keyframes zoom {
        from {
            transform:scale(1.6);
            opacity: 0;
        }

        to {
            transform:scale(1);
            opacity: 1;
        }
    }

    .list {
        width: calc(50% - 300px);
        background-color: var(--semi-deep-grey);
        justify-content: right;
        display: flex;
        flex-direction: column;
        overflow: scroll;
        overflow-x: hidden;

        .column {
            width: 200px;
            padding-top: 50px;
            margin-left: calc(100% - 200px);
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .title {
                text-transform: uppercase;
                font-size: 9.5pt;
                font-weight: 600;
                margin-left: 10px;
            }

            .list_container {
                width: 85%;

                ul {
                    list-style: none;
                    padding-left: 0;
                    margin: 5px 0;
                    cursor: pointer;

                    li {
                        padding: 5px 10px;
                        border-radius: 4px;
                        font-size: 11pt;
                    }

                    li:hover {
                        background-color: var(--light-grey);
                        color: var(--grey-text-color);
                    }

                    .selected {
                        background-color: var(--light-grey);
                        color: var(--grey-text-color);
                    }
                }
            }

            
        }
    }

    .list::-webkit-scrollbar {
        width: 5px;
        background-color: none;
    }

    .list::-webkit-scrollbar-thumb {
        background-color: none;
        border-radius: 5px;
    }

    .list:hover::-webkit-scrollbar-thumb {
        background-color: var(--deep-grey);
    }

    .close {
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 50px;
        margin-top: 50px;
        margin-left: 625px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .icon_wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-transform: uppercase;
            font-size: 9.5pt;
            font-weight: 600;
        }
    }

    .close:hover {
        color: var(--grey-text-color);
    }

    .save {
        position: fixed;
        bottom: 0;
        left: calc(50% - 300px);

        
        margin-left: 20px;
        width: 600px;
        height: 40px;
        background-color: var(--deep-grey);
        align-items: center;
        justify-content: space-between;
        border-radius: 4px;
        color: var(--grey-text-color);
        font-size: 10.5pt;
        font-weight: 600;
        margin-bottom: 10px;

        span {
            flex: 1;
            margin-left: 10px;
        }

        button {
            border: none;
            padding: 5px;
            border-radius: 3px;
            margin-right: 10px;
            background-color: var(--green);
            color: white;
            font-size: 10.5pt;
            font-weight: 600;
            cursor: pointer;
        }

        .other {
            background-color: none;
            background: none;
        }

        .other:hover {
            text-decoration: underline;
        }
    }

    .loading {
        padding: 0 5px;

        span {
            width: 5px;
            height: 5px;
            margin: 5px 0;
            background-color: white;
            border-radius: 50%;
            display: inline-block;
            animation-name: dots;
            animation-duration: 1.1s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
        }

        span:nth-child(2) {
            animation-delay: 0.2s;
        }

        span:nth-child(3) {
            animation-delay: 0.4s;
        }

        @keyframes dots {
            50% {
                opacity: 0;
                transform: scale(0.8) translateY(2px);
            }
        }
    }

    .edit_name {
        position: fixed;
        z-index: 101;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.8); 
        display: none;
        align-items: center;
        justify-content: center;
        
        .box {
            animation-name: zoomRevese;
            animation-duration: 150ms;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 350px;
            height: 250px;
            background-color: var(--light-grey);
            border-radius: 4px;

            .info {
                margin-top: 25px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                span:first-child {
                    font-size: 14pt;
                    font-weight: 600;
                    color: var(--grey-text-color); 
                }

                span:last-child {
                    margin-top: 5px;
                    font-size: 10.5pt;
                }
            }

            .input {
                display: flex;
                flex-direction: column;

                span {
                    font-size: 9pt;
                    font-weight: 600;
                    text-transform: uppercase;
                }

                .warning {
                    font-size: 9pt;
                    text-transform: none;
                    margin-top: 2px;
                    color: var(--notif-color);
                    text-shadow: 1px 1px black;
                }

                input {
                    margin-top: 10px;
                    width: 300px;
                    border: none;
                    border-radius: 4px;
                    padding: 10px 7.5px;
                    font-size: 10pt;
                    background-color: var(--deep-grey);
                    color: var(--grey-text-color);
                }

                input:focus {
                    outline: none;
                }
            }
        }
    }

    @keyframes zoomRevese {
        from {
            transform:scale(0.6);
            opacity: 0;
        }

        to {
            transform:scale(1);
            opacity: 1;
        }
    }

    .settings {
        padding-top: 50px;
        width: calc(100% - (50% - 300px));
        height: 100%;
        overflow: scroll;
        overflow-x: hidden;
        margin-left: 25px;
        position: relative;

        h2 {
            color: var(--grey-text-color);
            margin-top: 0;
        }
    }

    .settings::-webkit-scrollbar {
        width: 5px;
        background-color: none;
    }

    .settings::-webkit-scrollbar-thumb {
        background-color: none;
        border-radius: 5px;
    }

    .settings:hover::-webkit-scrollbar-thumb {
        background-color: var(--deep-grey);
    }

    .account {
        height: calc(100% - 50px);

        .account_box {
            width: 600px;
            height: 225px;
            border-radius: 5px;
            background-color: #58595e;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            .profile_box {
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
                background-color: var(--deep-grey);

                .profile {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    margin-top: -20px;
                    margin-left: 10px;

                    .avatar_wrapper {
                        border-radius: 50%;
                        border: solid 6px var(--deep-grey);
                        width: 64px;
                        height: 64px;
                        position: relative;
                        cursor: pointer;

                        .avatar {
                            border-radius: 50%;
                            background-color: var(--deep-grey);
                        }

                        .overlay {
                            position: absolute;
                            display: none;
                            width: inherit;
                            height: inherit;
                            border-radius: 50%;
                            align-items: center;
                            justify-content: center;
                            flex-direction: column;
                            font-weight: 600;
                            color: var(--grey-text-color);
                            text-transform: uppercase;
                            font-size: 8pt;
                            top: 0;
                            left: 0;
                            background-color: rgba(0,0,0,0.6);
                        }
                    }

                    .avatar_wrapper:hover {
                        .overlay {
                            display: flex;
                        }
                    }

                    .username {
                        margin-left: 10px;

                        span {
                            font-size: 14pt;
                            font-weight: 600;
                        }

                        span:first-child {
                            color: var(--grey-text-color);
                        }
                    }
                }

                .profile_info {
                    border-radius: 5px;
                    background-color: var(--semi-deep-grey);
                    margin: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .username_info {
                        padding: 10px;

                        .caption {
                            text-transform: uppercase;
                            font-size: 9.5pt;
                            font-weight: 600;
                        }

                        .username {
                            span {
                                font-size: 11pt;
                            }

                            span:first-child {
                                color: var(--grey-text-color);
                            }
                        }
                    }

                    button {
                        border-radius: 3px;
                        border: none;
                        background-color: #58595e;
                        color: var(--grey-text-color);
                        font-size: 11pt;
                        font-weight: 600;
                        padding: 7.5px;
                        margin-right: 10px;
                        cursor: pointer;
                        transition: ease-in-out 150ms;
                    }

                    button:hover {
                        background-color: var(--status);
                    }

                    .footer {
                        width: inherit;
                        height: 50px;
                        background-color: var(--deep-grey);
                        border-bottom-left-radius: 4px;
                        border-bottom-right-radius: 4px;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;

                        .done {
                            background-color: var(--primary-color);
                        }

                        button:first-child {
                            background: none;
                        }

                        button:hover:first-child {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    .notifications {
        display: flex;
        flex-direction: column;

        .notification {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 600px;
            padding: 10px 0;

            span {
                color: var(--grey-text-color);
            }

            .toggle {
                height: 0;
                width: 0;
                visibility: hidden;
            }

            label {
                cursor: pointer;
                text-indent: -9999px;
                width: 50px;
                height: 26.5px;
                background: var(--status);
                display: block;
                border-radius: 26.5px;
                position: relative;
            }

            label:after {
                content: '';
                position: absolute;
                top: 2px;
                left: 3px;
                width: 22.5px;
                height: 22.5px;
                background: #fff;
                border-radius: 22.5px;
                transition: 0.3s;
            }

            .toggle:checked + label {
                background: var(--green);
            }

            .toggle:checked + label:after {
                left: calc(100% - 3px);
                transform: translateX(-100%);
            }

            .toggle:active:after {
                width: 130px;
            }
        }
    }
}