.container {
    background-color: var(--deep-grey);
    position: fixed;
    top: 0;
    left: 0;
    width: 75px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .guild {
        margin: 5px 0;

        .sel_icon {
            opacity: 0;
            transform: scale(0.8);
            background-color: var(--grey-text-color);
            width: 18px;
            height: 18px;
            position: absolute;
            margin-left: -28px;
            margin-top: 14px;
            border-radius: 30%;
            transition: ease-in 150ms;
        }

        .avatar {
            border-radius: 50%;
            transition: ease-in-out 150ms;
            cursor: pointer;
        }

        
    }

    .guild:hover {
        .sel_icon {
            opacity: 1;
            transform: scale(1);
        }
        
        .avatar {
            border-radius: 35%;
        }
    }

    .home {
        margin: 5px 0;
        background-color: var(--semi-deep-grey);
        width: 48px;
        height: 48px;
        border-radius: 50%;
        transition: ease-in-out 150ms;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        .sel_icon {
            opacity: 0;
            transform: scale(0.8);
            background-color: var(--grey-text-color);
            width: 18px;
            height: 18px;
            position: absolute;
            margin-left: -86px;
            border-radius: 30%;
            transition: ease-in 150ms;
        }

        .icon {
            border-radius: 50%;
            transition: ease-in-out 150ms;
            cursor: pointer;
            color: var(--grey-text-color);
        }
    }

    .home:hover {
        .sel_icon {
            opacity: 1;
            transform: scale(1);
        }

        border-radius: 35%;
        background-color: var(--primary-color);
    }

    .active_home {
        .sel_icon {
            opacity: 1;
            transform: scale(1);
            height: 36px;
            border-radius: 12.5%;
        }

        border-radius: 35%;
        background-color: var(--primary-color);
    }

    .active_guild {
        .sel_icon {
            opacity: 1;
            transform: scale(1);
            height: 36px;
            border-radius: 12.5%;
            margin-top: 6px;
        }

        .avatar {
            border-radius: 35%;
        }
    }
}