.container {
    background-color: var(--deep-grey);
    position: fixed;
    top: 0;
    left: 0;
    width: 75px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .guild {
        margin: 5px 0;

        .sel_icon {
            opacity: 0;
            transform: scale(0.8);
            background-color: var(--grey-text-color);
            width: 24px;
            height: 24px;
            margin-left: -34px;
            margin-top: 12px;
            position: absolute;
            border-radius: 15%;
            transition: ease-in 150ms;
        }

        .avatar {
            border-radius: 50%;
            transition: ease-in-out 150ms;
            cursor: pointer;
        }

        
    }

    .notif_icon {
        .sel_icon {
            opacity: 1;
            transform: scale(1);
            width: 12px;
            height: 12px;
            margin-left: -22px;
            margin-top: 16px;
            border-radius: 30%;
        }
    }

    .notif_icon:hover {
        .sel_icon {
            width: 24px;
            height: 24px;
            margin-left: -34px;
            margin-top: 12px;
            border-radius: 15%;
        }
    }

    .guild:hover {
        .sel_icon {
            opacity: 1;
            transform: scale(1);
        }
        
        .avatar {
            border-radius: 35%;
        }
    }

    .home {
        margin: 5px 0;
        background-color: var(--semi-deep-grey);
        width: 48px;
        height: 48px;
        border-radius: 50%;
        transition: ease-in-out 150ms;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        .sel_icon {
            opacity: 0;
            transform: scale(0.8);
            background-color: var(--grey-text-color);
            width: 24px;
            height: 24px;
            position: absolute;
            margin-left: -92px;
            border-radius: 15%;
            transition: ease-in 150ms;
        }

        .icon {
            border-radius: 50%;
            transition: ease-in-out 150ms;
            cursor: pointer;
            color: var(--grey-text-color);
        }
    }

    .home:hover {
        .sel_icon {
            opacity: 1;
            transform: scale(1);
        }

        border-radius: 35%;
        background-color: var(--primary-color);
    }

    .notif:first-child {
        margin-top: 10px;
    }

    .notif {
        position: relative;
        margin: 5px 0;
        cursor: pointer;

        .sel_icon {
            background-color: var(--grey-text-color);
            width: 12px;
            height: 12px;
            position: absolute;
            margin-left: -22px;
            margin-top: 16px;
            border-radius: 30%;
            transition: ease-in 150ms;
        }

        .avatar {
            border-radius: 50%;
            transition: ease-in-out 150ms;
        }

        .count {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;
            bottom: 0;
            right: 0;
            color: var(--grey-text-color);
            width: 16px;
            height: 16px;
            border-radius: 50%;
            border: solid 3px var(--deep-grey);
            background-color: var(--notif-color);

            span {
                font-size: 8.5pt;
                font-weight: 600;
            }
        }
    }

    .notif:hover {
        .avatar {
            border-radius: 35%;
        }

        .sel_icon {
            width: 24px;
            height: 24px;
            margin-left: -34px;
            margin-top: 12px;
            border-radius: 15%;
        }
    }

    .active_home {
        .sel_icon {
            opacity: 1;
            transform: scale(1);
            height: 36px;
            border-radius: 12.5%;
        }

        border-radius: 35%;
        background-color: var(--primary-color);
    }

    .active_guild {
        .sel_icon {
            opacity: 1;
            transform: scale(1);
            height: 36px;
            border-radius: 12.5%;
            margin-top: 6px;
        }

        .avatar {
            border-radius: 35%;
        }
    }
}