@mixin tooltip {
    span {
        visibility: hidden;
        width: fit-content;
        background-color: black;
        color: var(--grey-text-color);
        text-align: center;
        border-radius: 4px;
        padding: 5px 8px;
        font-size: 10pt;
        position: absolute;
        z-index: 1;
        bottom: 120%;
        
    }

    span::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: black transparent transparent transparent;
    }
}

@mixin _button {
    div {
        margin-left: 10px;
        position: relative;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: var(--deep-grey);
        opacity: 0.5;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: var(--grey-text-color);

        @include tooltip;
    }

    div:hover {
        opacity: 1;

        .cross {
            color: red;
        }

        span {
            visibility: visible;
        }
    }
}

.container {
    background-color: var(--light-grey);
    height: 100vh;
    margin-left: 300px;
    padding-top: 50px;
    width: calc(100% - 300px);
    height: calc(100vh - 50px);

    .friends {
        width: 60%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        .friend {
            margin: 10px;
            width: 90%;
            border-radius: 6px;
            padding: 5px 10px;
            display: grid;
            grid-template-columns: 36px 200px auto;
            grid-template-rows: 36px auto auto;
            column-gap: 5px;

            .avatar {
                border-radius: 50%;
            }

            .username {
                grid-column: 2;
                grid-row: 2;
                margin-top: -32px;
                color: var(--grey-text-color);
                font-weight: 600;
                font-size: 10.5pt;
            }

            .type {
                grid-column: 2;
                grid-row: 3;
                margin-top: -16px;
                font-size: 10pt;
                color: var(--darker-grey-text-color);
            }

            .buttons {
                grid-column: 3;
                grid-row: 2;
                margin-top: -36px;
                display: flex;
                justify-content: flex-end;

                @include _button;
            }
        }

        .friend:hover {
            background: var(--hover-light-grey-color);
        }
    }

    .add {
        padding-left: 15px;
        padding-bottom: 15px;
        margin-top: 25px;
        border-bottom: solid 1px var(--deep-grey);

        .text {
            font-size: 12.5pt;
            color: var(--grey-text-color);
            text-transform: uppercase;
            font-weight: 600;
        }

        .warning {
            font-size: 10pt;
            color: var(--red-text-color);
            font-weight: 600;
        }

        form {
            margin-top: 15px;
        }

        input {
            border: none;
            border-radius: 6px;
            width: 60%;
            padding: 15px;
            color: var(--grey-text-color);
            background-color: var(--deep-grey);
            font-size: 11pt;
        }

        input:focus {
            outline: none;
        }

        button {
            position: fixed;
            margin-left: -190px;
            margin-top: 7px;
            border: none;
            border-radius: 3px;
            width: 180px;
            padding: 8px 5px;
            color: var(--grey-text-color);
            background-color: var(--primary-color);
            font-weight: 600;
            cursor: pointer;
        }

        button:disabled {
            opacity: 0.75;
        }
    }
}