.container {
    width: 200px;
    height: 200px;
    border-radius: 4px;
    background-color: var(--semi-deep-grey);
    margin: 10px;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;

    .image_div {
        width: inherit;
        height: 190px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .image {
        max-width: 150px;
        max-height: 150px;
        border-radius: 4px;
    }

    .name {
        font-size: 10pt;
        margin: 5px;
        color: var(--darker-grey-text-color);
    }
}

.buttons {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 400px;
    margin-top: 6px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 56, 56);
    border-radius: 5px;
    background-color: var(--light-grey);
    cursor: pointer;
}

.buttons:hover {
    background-color: var(--hover-light-grey-color);
}